$pop:Poppins;
$biru:rgb(7, 88, 210);


form {
    margin-top: 50px;

    button {
        background-color: $biru;
        color: white;
        border: none;
        width: 250px;
        height: 40px;
        padding: 0px 10px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover{
        background-color: rgb(6, 64, 200);
        color: white;
        border: none;
        width: 250px;
        height: 40px;
        padding: 0px 10px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;

        }

    }

}

table {
    margin: 0 auto;

    tr {
        display: block;

        td {
            display: flex;

            img{
                height: 70px;
                margin: 0 auto;
                padding-bottom: 20px;
                transition: all 0.3s;

                &:hover{
                    height: 75px;
                    position: relative;
                }
            }


            .judul {
                color: $biru;
                font-family: $pop;
                font-size: 25px;
                text-align: center;
                margin: 0 auto;
                font-weight: 600;
            }

            label {
                font-family: $pop;
                font-size: 13px;
                padding-top: 12px;
            }

            input {
                background-color: rgb(226, 229, 234);
                border: none;
                width: 230px;
                height: 40px;
                padding: 0px 10px;
                border-radius: 5px;
                color: grey;


                &:focus{
                background-color: rgb(226, 229, 234);
                border: none;
                outline: none;
                }

            }
        }
    }
}

footer {
    color: gray;
    font-family: $pop;
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
}


.notif{
    font-family: $pop;
 color: $biru;
}


.lihat{
    background-color: rgb(7, 200, 10);
    color: white;
    border: none;
    width: 250px;
    height: 40px;
    padding: 0px 10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


//============ Tampil Hasill ===================


.table-data-buku{
    font-family: $pop;
    width: 100%;
    border-color: $biru;
    tr{
        display: flex;

        .no{
            width: 300px;
        }

        th{ 
            width: 100%;
            background-color: $biru;
            color: white;

        }

        td{
            border: 1px solid rgb(112, 112, 112);
            width: 100%;
        }
    }


    
}